<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Page</title>
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/flaticon.css">
    <link rel="stylesheet" href="../../assets/css/responsive.css">
</head>

<body class="">
    <div class="body-main-content container-fluid h-100">
        <header>
            <nav
                class="menu-top navbar navbar-expand-md bg-7c navbar-dark d-flex justify-content-between row nav-top-menu">
                <div class="menu-top-left d-flex">
                    <a class="navbar-brand" href="#"><img src="../../assets/images/logo-chat.png" alt=""></a>
                    <form class="form-inline" action="/action_page.php">
                        <input class="form-control mr-sm-2 inp-search" type="text" placeholder="Tìm kiếm">
                    </form>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="button-menu-nav">
                    <ul class="list-top-menu">
                        <li class="item-top-menu text-center"><a href="../HomePage/index.html"><img
                                    src="assets/img/nav/home-active.svg" alt=""></a></li>
                        <li class="item-top-menu text-center"><a href="#"><img src="assets/img/nav/news-default.svg"
                                    alt=""></a>
                        </li>
                        <li class="item-top-menu text-center  active"><a href="#"><img
                                    src="assets/img/nav/group-default.svg" alt=""></a>
                        </li>
                        <li class="item-top-menu text-center"><a href="#"><img src="assets/img/nav/video-default.svg"
                                    alt=""></a></li>
                        <li class="item-top-menu text-center"><a href="#"><img src="assets/img/nav/chat-default.svg"
                                    alt=""></a></li>
                    </ul>
                </div>
                <div class="top-menu-right d-none d-md-block">
                    <ul class="list-tr-menu">
                        <li class="item-top-menu-right mr-3"><a href="#"><i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="item-top-menu-right mr-3"><a href="#"><i class="fa fa-bell"
                                    aria-hidden="true"></i></a>
                        </li>
                        <li class="item-top-menu-right nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <img src="../../assets/images/default-user-avatar.png" alt=""
                                    style="width:20%; border-radius: 50%;"> admin
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../LoginPage/index.html">Thoát</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="row justify-content-center">
            <div class="col-lg-4 mt-5">
                <div class="create-group-body">
                    <div class="create-group-title">
                        <h2>Tạo nhóm mới</h2>
                        <p>Tạo không gian tuyệt vời để hoàn thành công việc và chỉ liên lạc với những người bạn muốn. Hãy chia sẻ ảnh và video, trò chuyện, lên kế hoạch và nhiều hoạt động khác với những người bạn trên Gapo.</p>
                    </div>
                    <div class="create-group-from bg-white">
                            <div class="form-group">
                              <label for="usr">Tên Nhóm</label>
                              <input type="text" class="form-control eJeJXZ" id="usr" name="username">
                            </div>
                            <div class="form-group">
                                <label for="usr">Chọn ảnh bìa</label>
                                <input type="file" class="" id="usr" name="username">
                              </div>
                            <button type="submit" class="btn bjbUnA">Tạo Nhóm</button>
                    </div>
                </div>
        </div>
    </div>
    <!-- Import depedencies -->
    <script src="../../libs/jquery/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/scrpit.js"></script>

</body>

</html>