<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Page</title>
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/flaticon.css">
    <link rel="stylesheet" href="../../assets/css/responsive.css">
</head>

<body class="">
    <div class="body-main-content container-fluid h-100">
        <header>
            <nav
                class="menu-top navbar navbar-expand-md bg-7c navbar-dark d-flex justify-content-between row nav-top-menu">
                <div class="menu-top-left d-flex">
                    <a class="navbar-brand" href="#"><img src="../../assets/images/logo-chat.png" alt=""></a>
                    <form class="form-inline" action="/action_page.php">
                        <input class="form-control mr-sm-2 inp-search" type="text" placeholder="Tìm kiếm">
                    </form>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="button-menu-nav">
                    <ul class="list-top-menu">
                        <li class="item-top-menu text-center"><a href="../HomePage/index.html"><img
                                    src="assets/img/nav/home-active.svg" alt=""></a></li>
                        <li class="item-top-menu text-center"><a href="#"><img src="assets/img/nav/news-default.svg"
                                    alt=""></a>
                        </li>
                        <li class="item-top-menu text-center  active"><a href="#"><img
                                    src="assets/img/nav/group-default.svg" alt=""></a>
                        </li>
                        <li class="item-top-menu text-center"><a href="#"><img src="assets/img/nav/video-default.svg"
                                    alt=""></a></li>
                        <li class="item-top-menu text-center"><a href="#"><img src="assets/img/nav/chat-default.svg"
                                    alt=""></a></li>
                    </ul>
                </div>
                <div class="top-menu-right d-none d-md-block">
                    <ul class="list-tr-menu">
                        <li class="item-top-menu-right mr-3"><a href="#"><i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="item-top-menu-right mr-3"><a href="#"><i class="fa fa-bell"
                                    aria-hidden="true"></i></a>
                        </li>
                        <li class="item-top-menu-right nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <img src="../../assets/images/default-user-avatar.png" alt=""
                                    style="width:20%; border-radius: 50%;"> admin
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../LoginPage/index.html">Thoát</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="row">
            <div class="col-md-4 col-lg-3 bg-white">
                <nav class="navbar navbar-expand-md menu-left d-block">
                    <div class="collapse d-block" id="collapsibleNavbar">
                        <h3 class="mt-1">Nhóm</h3>
                        <ul class="slider-b-rigt">
                            <li class="item-r">
                                <a class="d-flex align-items-center item-group" href="../GroupPage/index.html">
                                    <i class="ml-3 mr-2 icon-grup icon-frame"></i> Bảng tin của bạn
                                </a>
                            </li>
                            <li class="item-r  action-group">
                                <a class="d-flex align-items-center item-group" href="#">
                                    <i class="ml-3 mr-2 icon-grup icon-frame-1-action"></i> Khám Phá
                                </a>
                            </li>
                            <li class="item-add-group text-center">
                                <a class="text-center" href="../GroupPage/create-group.html">
                                    <img src="../../assets/images/create-page.svg" alt=""> Tạo Nhóm
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <div class="your-group d-flex justify-content-between mb-5">
                            <h5>Nhóm bạn quản lý</h5>
                            <a href="#">xem tất cả</a>
                        </div>
                        <hr>
                        <div class="featured-group d-flex justify-content-between mb-5">
                            <h5>Nhóm tham gia</h5>
                            <a href="#">xem tất cả</a>
                        </div>

                    </div>
                </nav>
            </div>
            <div class="col-md-4 col-lg-9 ">
                <div class="body-featured">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <h1>Nhóm đề xuất</h1>
                            </div>
                        </div>
                        <div class="row featured-body">
                            <div class="col-lg-4 mb-3">
                                <div class="featured-main bg-white">
                                    <div class="featured-main-img">
                                        <img class="featured-img" src="assets/img/bg-featured-1.jpeg" alt="">
                                    </div>
                                    <div class="featured-main-content">
                                        <h5>Vương Quốc 5 chân</h5>
                                        <p> <img src="assets/img/icon/group-public.svg" style="width:4%;" alt=""> 4 thành viên</p>
                                        <button class="text-center w-100 btn featured-btn">Tham gia</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="featured-main bg-white">
                                    <div class="featured-main-img">
                                        <img class="featured-img" src="assets/img/bg-featured-2.jpeg" alt="">
                                    </div>
                                    <div class="featured-main-content">
                                        <h5>90.link - Không Sợ Bóng Official</h5>
                                        <p> <img src="assets/img/icon/group-public.svg" style="width:4%;" alt=""> 9 thành viên</p>
                                        <button class="text-center w-100 btn featured-btn">Tham gia</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="featured-main bg-white">
                                    <div class="featured-main-img">
                                        <img class="featured-img" src="assets/img/bg-featured-3.jpeg" alt="">
                                    </div>
                                    <div class="featured-main-content">
                                        <h5>Vương Quốc 5 chân</h5>
                                        <p> <img src="assets/img/icon/group-public.svg" style="width:4%;" alt=""> 10 thành viên</p>
                                        <button class="text-center w-100 btn featured-btn">Tham gia</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="featured-main bg-white">
                                    <div class="featured-main-img">
                                        <img class="featured-img" src="assets/img/bg-featured-4.jpeg" alt="">
                                    </div>
                                    <div class="featured-main-content">
                                        <h5>Hội những Homiez Binz</h5>
                                        <p> <img src="assets/img/icon/group-public.svg" style="width:4%;" alt=""> 99 thành viên</p>
                                        <button class="text-center w-100 btn featured-btn">Tham gia</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="featured-main bg-white">
                                    <div class="featured-main-img">
                                        <img class="featured-img" src="assets/img/bg-featured-5.jpeg" alt="">
                                    </div>
                                    <div class="featured-main-content">
                                        <h5>Thích ngắm Gái Xinh                                        </h5>
                                        <p> <img src="assets/img/icon/group-public.svg" style="width:4%;" alt=""> 1.k thành viên</p>
                                        <button class="text-center w-100 btn featured-btn">Tham gia</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="featured-main bg-white">
                                    <div class="featured-main-img">
                                        <img class="featured-img" src="assets/img/bg-featured-6.jpeg" alt="">
                                    </div>
                                    <div class="featured-main-content">
                                        <h5>Box Girl ❤                                        </h5>
                                        <p> <img src="assets/img/icon/group-public.svg" style="width:4%;" alt=""> ... thành viên</p>
                                        <button class="text-center w-100 btn featured-btn">Tham gia</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Import depedencies -->
    <script src="../../libs/jquery/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/scrpit.js"></script>

</body>

</html>