<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-4 login-main">
        
        <div class="logo-login mt-5 mb-5">
          <img src="../../assets/images/chat-one.png" alt="">
        </div>
        <div class="login-intro">
          <p>Xin chào Gapoer!</p>
        </div>
        <div class="d-flex align-content-center flex-wrap">
          <div class="login-form bg-white mb-5">

            <input type="text" class="gPgfXu input-phone-number" placeholder="Email hoặc số điện thoại" id="emailInput">
            <input type="password" class="gPgfXu input-phone-number" placeholder="Mật khẩu" id="passwordInput">
            <button class="ihuaxi" id="loginButton">Đăng
              nhập</button>
            <hr class="line">
            <div class="justify-content-center text-center">
              <button class="ihuaxi-signup" id="signupButton">Tạo tài
                khoản mới</button>
            </div>

          </div>

          <div class="login-intro-button mt-5">
            <a href="#">Chính sách & Điều khoãn</a>
            <a href="#">Câu hỏi thường gặp</a>
            <a href="#">Trợ giúp</a>
          </div>
          <div class="ihfPQr mt-5">
            <img src="../../assets/images/buildwithlove.png" alt="logo-bottom">
          </div>

        </div>
      </div>
      <div class="col-lg-8 banner-right kpwvSR">
      </div>
    </div>
  </div>
  <!-- Import depedencies -->
  <script src="../../libs/jquery/jquery-3.5.1.js"></script>
  <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="script.js"></script>
  <!-- Jquery -->
  <script>
  </script>

</body>

</html>