<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body class="">
    <div class="body-main-content container-fluid h-100">
        <header>
            <nav
                class="menu-top navbar navbar-expand-md bg-7c navbar-dark d-flex justify-content-between row nav-top-menu">
                <div class="menu-top-left d-flex">
                    <a class="navbar-brand" href="#"><img src="../../assets/images/logo.svg" alt=""></a>
                    <form class="form-inline" action="/action_page.php">
                        <input class="form-control mr-sm-2 inp-search" type="text" placeholder="Tìm kiếm">
                    </form>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="button-menu-nav">
                    <ul class="list-top-menu">
                        <li class="item-top-menu text-center active"><a href="#"><img
                                    src="../../assets/images/nav/home-active.svg" alt=""></a></li>
                        <li class="item-top-menu text-center"><a href="#"><img
                                    src="../../assets/images/nav/news-default.svg" alt=""></a>
                        </li>
                        <li class="item-top-menu text-center"><a href="#"><img
                                    src="../../assets/images/nav/group-default.svg" alt=""></a>
                        </li>
                        <li class="item-top-menu text-center"><a href="#"><img
                                    src="../../assets/images/nav/video-default.svg" alt=""></a></li>
                        <li class="item-top-menu text-center"><a href="#"><img
                                    src="../../assets/images/nav/chat-default.svg" alt=""></a></li>
                    </ul>
                </div>
                <div class="top-menu-right d-none d-md-block">
                    <ul class="list-tr-menu">
                        <li class="item-top-menu-right mr-3"><a href="#"><i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="item-top-menu-right mr-3"><a href="#"><i class="fa fa-bell"
                                    aria-hidden="true"></i></a>
                        </li>
                        <li class="item-top-menu-right nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <img src="../../assets/images/default-user-avatar.png" alt=""
                                    style="width:20%; border-radius: 50%;"> admin
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../LoginPage/index.html">Thoát</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="row">
            <div class="col-md-4 col-lg-3 p-0 bg-white">
                <nav class="navbar navbar-expand-md menu-left d-block h-100 align-content-between flex-wrap">
                    <div class="collapse navbar-collapse  h-100 d-flex align-content-between flex-wrap" id="collapsibleNavbar">
                        <ul class="slider-b-rigt">
                            <li class="item-r">
                                <a class="d-flex align-items-center" href="#">
                                    <i class="ml-3 mr-2 svg-icon icon-feed-colorful"></i> Khám Phá
                                </a>
                            </li>
                            <li class="item-r">
                                <a class="d-flex align-items-center" href="#">
                                    <i class="ml-3 mr-2 svg-icon icon-explore"></i> Theo dõi
                                </a>
                            </li>
                            <li class="item-r">
                                <a class="d-flex align-items-center" href="#">
                                    <i class="ml-3 mr-2 svg-icon icon-search-colorful"></i> Tìm bạn bè
                                </a>
                            </li>
                            <li class="item-r">
                                <a class="d-flex align-items-center" href="#">
                                    <i class="ml-3 mr-2 svg-icon icon-flag-page"></i> Trang của bạn
                                </a>
                            </li>
                            <li class="item-add text-center">
                                <a class="text-center" href="#">
                                    <img src="../../assets/images/create-page.svg" alt=""> Trang của bạn
                                </a>
                            </li>
                        </ul>
                        
                        <div class="text-secondary text-center w-100">
                            <div class=""><a target="_blank"
                                    rel="noopener noreferrer" href="https://dieukhoan.gapo.vn" class="text-secondary">Điều
                                    khoản sử dụng</a><span class="px-1 mb-2">.</span><a target="_blank"
                                    rel="noopener noreferrer" href="https://hotro.gapo.vn" class="text-secondary">Hỗ trợ
                                    khách hàng</a></div>
                            <div class="py-1">Gapo © 2020</div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-4 col-lg-6 ">
                <div class="body-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">

                                <div class="status-main  bg-7c mb-3 mt-2 row d-flex align-items-cneter">
                                    <div class="status col-1">
                                        <a href="#"><img src="../../assets/images/default-user-avatar.png" alt=""></a>
                                    </div>
                                    <div class="status-inp col-11 form-group ">
                                        <input type="button" class="form-control" data-toggle="modal"
                                            data-target="#myModal">
                                    </div>

                                    <!-- The Modal -->
                                    <div class="modal" id="myModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title">Tạo bài viết</h4>
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <!-- <label for="">tiêu đề</label>
                                                    <input class="form-control" type="text" id="title-post"> -->
                                                    <label for="">Nội Dung</label>
                                                    <textarea class="form-control" name="" id="content-post" cols="15"
                                                        rows="10"></textarea>
                                                    <div class="form-group">
                                                        <label for="sel1">Tác Giả:</label>
                                                        <input type="text" class="form-control" id="sel1">


                                                    </div>
                                                    <div class="text-center mt-5">
                                                        <button class="btn btn-success btn-post">Đăng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="content row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-lg-3 d-none d-md-block  bg-white">
                <div class="menu-right">
                    <div class="menu-items">
                        <p>Tài Khoản: <span>0</span> <img src="../../assets/images/gcoin.svg" alt=""></p>
                        <hr class="line">
                    </div>
                    <div class="menu-items">
                        <p>Danh bạ</p>
                        <div class="list-item text-center">
                            <div class="item-img">
                                <img src="../../assets/images/group.png" alt="">
                            </div>
                            <div class="item-contents">
                                <p>Bạn chưa có bạn bè nào</p>
                                <a class="add-frend" href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Thêm
                                    bạn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Import depedencies -->
    <script src="../../libs/jquery/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/scrpit.js"></script>

</body>

</html>