<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="flaticon.css">
    <link rel="stylesheet" href="responsive.css">
</head>

<body class="">
    <div class="body-main-content container-fluid h-100">
        <header>
            <nav class="menu-top navbar navbar-expand-md bg-7c navbar-dark d-flex justify-content-between">
                <div class="menu-top-left d-flex">
                    <a class="navbar-brand" href="#"><img src="../../assets/images/logo.svg" alt=""></a>
                    <form class="form-inline" action="/action_page.php">
                        <input class="form-control mr-sm-2 inp-search" type="text" placeholder="Tìm kiếm">
                    </form>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="button-menu-nav">
                    <ul class="list-top-menu">
                        <li class="item-top-menu text-center active"><a href="#"><i class="fa fa-home"
                                    aria-hidden="true"></i></a></li>
                        <li class="item-top-menu text-center"><a href="#"><i class="fa fa-users"
                                    aria-hidden="true"></i></a>
                        </li>
                        <li class="item-top-menu text-center"><a href="#"><i class="fa fa-clock"
                                    aria-hidden="true"></i></a>
                        </li>
                        <li class="item-top-menu text-center"><a href="#"><i class="fa fa-user-circle"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="top-menu-right d-none d-md-block">
                    <ul class="list-tr-menu">
                        <li class="item-top-menu-right"><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span
                                    class="ml-2 ">Vũ</span> </a></li>
                        <li class="item-top-menu-right"><a href="#"><i class="fa fa-comment" aria-hidden="true"></i></a>
                        </li>
                        <li class="item-top-menu-right"><a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
                        </li>
                        <li class="item-top-menu-right nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../LoginPage/index.html">Thoát</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="row">
            <div class="col-md-4 col-lg-3 p-0 bg-white">
                <nav class="navbar navbar-expand-md menu-left">
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="slider-b-rigt">
                            <li class="item-r">
                                <a class="d-flex align-items-center" href="#">
                                    <i class="ml-3 mr-2 svg-icon icon-feed-colorful"></i> Khám Phá
                                </a>
                            </li>
                            <li class="item-r">
                                <a class="d-flex align-items-center" href="#">
                                    <i class="ml-3 mr-2 svg-icon icon-explore"></i> Theo dõi
                                </a>
                            </li>
                            <li class="item-r">
                                <a class="d-flex align-items-center" href="#">
                                    <i class="ml-3 mr-2 svg-icon icon-search-colorful"></i> Tìm bạn bè
                                </a>
                            </li>
                            <li class="item-r">
                                <a class="d-flex align-items-center" href="#">
                                    <i class="ml-3 mr-2 svg-icon icon-flag-page"></i> Trang của bạn
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-4 col-lg-6 ">
                <div class="body-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">

                                <div class="status-main  bg-7c mb-3 mt-2 row d-flex align-items-cneter">
                                    <div class="status col-2">
                                        <a href="#"><img src="../../assets/images/default-user-avatar.png" alt=""></a>
                                    </div>
                                    <div class="status-inp col-10 form-group ">
                                        <input type="button" class="form-control" data-toggle="modal"
                                            data-target="#myModal">
                                    </div>

                                    <!-- The Modal -->
                                    <div class="modal" id="myModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title">Tạo bài viết</h4>
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <!-- <label for="">tiêu đề</label>
                                                    <input class="form-control" type="text" id="title-post"> -->
                                                    <label for="">Nội Dung</label>
                                                    <textarea class="form-control" name="" id="content-post" cols="15"
                                                        rows="10"></textarea>
                                                    <div class="form-group">
                                                        <label for="sel1">Tác Giả:</label>
                                                        <input type="text" class="form-control" id="sel1">


                                                    </div>
                                                    <div class="text-center mt-5">
                                                        <button class="btn btn-success btn-post">Đăng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="content row">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-lg-3 d-none d-md-block  bg-white">
                <div class="menu-right">
                    <h3>Người Liên Hệ</h3>
                    <ul class="slider-b-rigt list-user">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Import depedencies -->
    <script src="../../libs/jquery/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="scrpit.js"></script>
    <!-- Jquery -->
    <script>
        $(document).ready(function () {
            //get post
            $.ajax({
                url: "http://localhost:3000/post",
                type: 'GET',
                contentType: 'application/json'
            }).done(function (data) {
                if (data.status === 'error') {
                    $('.alert').remove()
                    $(".container-fluid").prepend(`<div class="alert alert-danger" role="alert">Database error</div>`)
                } else {
                    console.log(data)
                    data.data.forEach(post => {
                        $(".content").prepend(`<div class="content-main bg-7c mb-3 " key="${post._id}">
                                <div class="author">
                                    <div class="author-main pb-2">
                                        <a href="#"><img src="../../assets/images/default-user-avatar.png" alt=""></a>
                                        <a href="#">
                                            <span>${post.author}</span>
                                        </a>
                                    </div>
                                    <div class="author-status">
                                        <span>${post.content}</span>
                                    </div>
                                </div>
                               
                                <div class="reaction-comment d-flex justify-content-between">
                                    <div class="reaction">
                                        <img src="../../assets/images/reaction/like-reaction.png" alt="icon">
                                        <img src="../../assets/images/reaction/haha-reaction.png" alt="icon">
                                        <img src="../../assets/images/reaction/love-reaction.png" alt="icon">
                                        <img src="../../assets/images/reaction/angry-reaction.png" alt="icon">
                                        <img src="../../assets/images/reaction/wow-reaction.png" alt="icon">
                                        <a href="#">
                                            <span> 1,9k</span>
                                        </a>
                                    </div>
                                    <div class="comment d-flex">
                                        <a class=" mr-2" href="#">26 bình luận</a>
                                        <a class=" mr-2" href="#">86 lượt chia sẻ</a>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-around btn-top-ac">
                                    <div class="btn-item"> <button data-toggle="collapse" data-target="#action" class="btn btn-reaction"> <i class="flaticon-like"></i> thích</button></div>
                                    <div class="btn-item"> <button data-toggle="collapse" data-target="#comment" class="btn btn-reaction postcomment" id=""> <i class="flaticon-comment-white-oval-bubble"></i> bình luận</button></div>
                                    <div class="btn-item"> <button data-toggle="collapse" data-target="#share" class="btn btn-reaction"> <i class="flaticon-share"></i> chia sẻ</button></div>
                                </div>
                                
                                <div id="comment" class="collapse post-comment-main">
                                    <div class="comment-main mt-3 mb-3">
                                        <div class="comment-item mb-2">
                                            <h5 class="comment-author">Minh Quy</h5>
                                            <p class="m-0"> khong hay xius nafo</p>
                                        </div>
                                    </div>
                                    <div class=" row d-flex align-items-center post-comment-item">
                                        <div class="col-1">
                                            <img src="../../assets/images/default-user-avatar.png" alt="author-commet" class="rounded-circle" style="width:35px;">
                                        </div>
                                        <div class="col-9 post-main">
                                            <input type="text" class="form-control gPgfXu comment-post">
                                        </div>
                                        <div class="col-2 p-0">
                                            <button class="btn btn-success btn-comment">Đăng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>`)
                    });
                }

                console.log(data.data)
            })

            // get users
            $.ajax({
                url: "http://localhost:3000/users",
                type: "GET",
                contentType: 'application/json'
            }).done(function (data) {
                if (!data.isSuccess) {
                    $('.alert').remove()
                    $(".container-fluid").prepend(`<div class="alert alert-danger" role="alert">Database error</div>`)
                } else {
                    // console.log(data)
                    data.data.forEach(user => {
                        $('.list-user').prepend(`<li class="item-r">
                        <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i><span
                                class="ml-2 ">${user.lastName} ${user.firstName}</span></a>
                        </li>`)
                    })
                }
            })


            // Create post
            $('.btn-post').click(function () {
                let author = $('#sel1').val();
                let content = $('#content-post').val()
                if (!author) {
                    $('.alert').remove()
                    $('.container-fluid').prepend('<div class="alert alert-warning" role="alert">Name Invalid</div>')
                    return
                }

                if (!content) {
                    $('.alert').remove()
                    $('.container-fluid').prepend('<div class="alert alert-warning" role="alert">Content Invalid</div>')
                    return
                }

                $.ajax({
                    url: "http://localhost:3000/post",
                    data: JSON.stringify({
                        author,
                        content
                    }),
                    type: 'POST',
                    contentType: 'application/json'
                }).done(function (data) {
                    if (!data.isSuccess) {
                        $('.alert').remove()
                        $(".container-fluid").prepend(`<div class="alert alert-danger" role="alert">${data.message}</div>`)
                    } else {
                        // data.posts.forEach(post => {
                        console.log(data)
                        $(".content").prepend(`<div class="content-main  bg-7c mb-3">
                                <div class="author">
                                    <div class="author-main pb-2">
                                        <a href="#"><img src="../../assets/images/avatar-2.jpg" alt=""></a>
                                        <a href="#">
                                            <span>${data.data.name}</span>
                                        </a>
                                    </div>
                                    <div class="author-status">
                                        <span>${data.data.content}</span>
                                    </div>
                                </div>
                               
                                <div class="reaction-comment d-flex justify-content-between">
                                    <div class="reaction">
                                        <span>${data.data.reaction.like}<img src="../../assets/images/linke.png" alt="icon"></span>
                                        <span><img src="../../assets/images/happy.png" alt="icon"></span>
                                        <span><img src="../../assets/images/heart.png" alt="icon"></span>
                                    </div>
                                    
                                </div>
                            </div>`)
                        // });
                    }
                })
                $('#sel1').val('');
                $('#content-post').val('');
            })


            //post comment
            $(".content").on("click", ".content-main .post-comment-main .post-comment-item .btn-comment", function (event) {
                event.preventDefault();
                let idpost = $(this).parents('.content-main').attr("key");
                console.log('Comment - ', idpost);

                let comment = $('.comment-post').val()
                console.log(comment);

                if (!comment) {
                    $('.alert').remove()
                    $('.container-fluid').prepend('<div class="alert alert-warning" role="alert">Content Invalid</div>')
                    return
                }
                $.ajax({
                    url: `http://localhost:3000/post/${idpost}`,
                    data: JSON.stringify({
                        type: "comments",
                        data: {comment}
                    }),
                    type: 'PUT',
                    contentType: 'application/json'
                }).done(function (data) {
                    if (!data.isSuccess) {
                        $('.alert').remove()
                        $(".container-fluid").prepend(`<div class="alert alert-danger" role="alert">${data.message}</div>`)
                    } else {
                        console.log(data)
                        $(".comment-main").prepend(`
                            <div class="comment-item mb-2">
                                <h5 class="comment-author">Minh Quy</h5>
                                <p class="m-0"> ${data.data.comment}</p>
                            </div>
                            `)
                    }
                })
            })

        })

    </script>

</body>

</html>